* {
    font-family: "Open Sans", sans-serif;
}

html, body {
    height: 100%;
    width: 90%;

}

h1, .h1 {
    font-size: 2rem;
    text-align: center;
    margin: auto;
}

input:focus, textarea:focus, a:focus, button:focus, [tabindex]:focus {
    outline: 1px solid #000;
    box-shadow: 0 0 2px 2px inset;
}